<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" width="100" height="100" src="{{ url_for('static', filename='photos/zes3logo.png') }}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if 'admin' in session %}
        <h1 class="navbar-brand">ADMIN MODE</h1>
        {% endif %}
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                {% if 'admin' in session %}
                <li class="nav-item">
                    <a href="/admin" class="nav-link">ADMIN PAGE</a>
                </li>
                {% endif %}
                <li class="nav-item p">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stores</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/outbox">Outbox</a></li>
                        <li><a class="dropdown-item" href="#">Beanbox</a></li>
                    </ul>
                </li>
                {% if 'name' not in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
                {% if 'name' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                {% endif %}
                <li class="nav-item d-flex align-items-center">
                    <div class="position-relative">
                        <a href="{{ url_for('view_cart') }}" class="nav-link"><i class="bi bi-cart-dash" style="font-size: 2rem; color:white;"></i></a>
                        {% if 'cart' in session and session['cart'] %}
                            <span id="cart-badge" class="badge bg-danger position-absolute translate-middle">{{ session['cart']|length }}</span>
                        {% endif %}
                    </div>
                </li>
            </ul>
            </li>
        </div>
        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage
                        Forum</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/createQuestion">Add Question/Feedback</a></li>
                        <li><a class="dropdown-item" href="/cviewQuestion">View Forum</a></li>
                    </ul>
       </li>
    </div>

                 
</nav>
