{% extends "adminbase.html" %}
{% block title %}ZES&#179; view suppliers{% endblock %}
{% block content %}
{% from "includes/formHelper.html" import render_field %}
<a href="{{ url_for('admin') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<h1 class="display-4">View all suppliers</h1>
<div>
    {% if count == 0 %}
    <p>There are no suppliers.</p>
    {% elif count == 1 %}
    <p>There is 1 supplier.</p>
    {% else %}
    <p>There are {{ count }} suppliers.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Company Phone</th>
                <th>Company Address</th>
                <th>Password</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in supplier_list %}
        <tr>
            <td>{{ supplier.get_supplier_id() }}</td>
            <td>{{ supplier.get_company_name() }}</td>
            <td>{{ supplier.get_company_email() }}</td>
            <td>{{ supplier.get_company_phone() }}</td>
            <td>{{ supplier.get_company_address() }}</td>
            <td>{{ supplier.get_password() }}</td>
            <td><a href="/updatesupplier/{{supplier.get_supplier_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_supplier', id=supplier.get_supplier_id())}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{supplier.get_supplier_id()}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{supplier.get_supplier_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{supplier.get_company_name()}}?
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}