{% extends "adminbase.html" %}
{% block title %} ZES&#179; admin page{% endblock %}
{% block content %}
<style>
    .admin-buttons {
        justify-content: space-around;
        margin-top: 20px;
    }

    .admin-buttons a {
        display: inline-block;
        margin: 10px 0 10px 10px;
        text-decoration: none;
    }
</style>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info text-center" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
<h1>Welcome {{ name }}! This is the admin page.</h1>
<p>What would you like to do?</p>

<div class="admin-buttons">
    <div class="row">
        <div class="col-md-4">
            <div class="button-group">
                <h3 style="text-align:center;">Members</h3>
                <a href="/members/viewmembers" class="btn btn-primary btn-lg rounded-pill d-block mb-2">View Members</a>
                 <a href="/supplier/viewsuppliers" class="btn btn-primary btn-lg rounded-pill d-block mb-2">View Suppliers</a>
                <a href="/addadmin" class="btn btn-primary btn-lg rounded-pill d-block mb-2">Add Admin Member</a>
                <a href="/viewadmins" class="btn btn-primary btn-lg rounded-pill d-block mb-2">View Admin Members</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-group">
                <h3 style="text-align:center;">Outbox</h3>
                <a href="/addproduct" class="btn btn-success btn-lg rounded-pill d-block mb-2">Add Product</a>
                <a href="inventory/viewinventory" class="btn btn-success btn-lg rounded-pill d-block mb-2">View Inventory</a>
                <a href="/viewQuestion" class="btn btn-success btn-lg rounded-pill d-block mb-2">View Forum</a>
                <a href="/createNews" class="btn btn-success btn-lg rounded-pill d-block mb-2">Create News</a>
                <a href="/viewNews" class="btn btn-success btn-lg rounded-pill d-block mb-2">Retrieve News</a>
                <a href="/orderhistory" class="btn btn-success btn-lg rounded-pill d-block mb-2">View Orders</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-group">
                <h3 style="text-align:center;">Vouchers</h3>
                <a href="/givevoucher" class="btn btn-warning btn-lg rounded-pill d-block mb-2">Give Vouchers</a>
                <a href="/viewvouchers" class="btn btn-warning btn-lg rounded-pill d-block mb-2">View Vouchers</a>
                <a href="/createvoucher" class="btn btn-warning btn-lg rounded-pill d-block mb-2">Create Voucher</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-group">
                <h3 style="text-align:center;">Report</h3>
                <a href="/performancereport" class="btn btn-danger btn-lg rounded-pill d-block mb-2">Generate Performance Report</a>
                <a href="/feedbackreport" class="btn btn-danger btn-lg rounded-pill d-block mb-2">Generate Feedback Report</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
