{% extends "base.html" %}
{% block title %}ZES&#179; BeanBox{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/style.css">

      <br>
<div  style="background-image: url(../../static/photos/coffeebrewing.jpg); height: 70%;">

      <h2 class="Title">BeanBox</h2>
      <p class="Sub">A haven for coffee enthusiasts, where aromatic blends and rich flavors come together to create an unforgettable journey through the world of exceptional coffee.</p>
</div>

<br>
<br>
<br>
<h1 class="display-4">Menu</h1>
<br>
<br>
<img src="static/photos/coffeemenu.jpg" alt="coffee menu" class="Image">

<h1 class="display-4" id="Find">Find us here!</h1>
<div id="GPSFrame">
      <iframe class="GPS" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4805.5791355610845!2d103.83906348290556!3d1.302950553805808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1951ff82383d%3A0x2d95d5d52caeed79!2sEquate%20Coffee!5e0!3m2!1sen!2ssg!4v1705929712544!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <ul id="Details">
            <li>Address:</li>
            <li>181 Orchard Rd, #01-17A Orchard Central Singapore 238896</li>
            <li id="Space"></li>
            <li>Opening Hours:</li>
            <li>Weekdays: 9a.m. to 9p.m.</li>
            <li>Weekends: 24 Hours</li>
      </ul>
</div>



{% endblock %}
