{% extends "base.html" %}
{% block title %}OutBox - Comment{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}

<br>
<br>

<h1 class="display-4">Comment</h1>
<form method="POST" action="{{ url_for('add_comment', news_id=news_id) }}">

  <div class="form-group">
    {{ render_field(form.comment, class="form-control", placeholder="Subject of Comment") }}
  </div>
<br>

  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}