{% extends "base.html" %}
{% block title %}OutBox - Question/Feedback{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<a href="{{ url_for('homepage') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<br>
<br>

<h1 class="display-4">Post Question/Feedback</h1>
<form method="POST" action="">

  <div class="form-group">
    {{ render_field(form.title, class="form-control", placeholder="Subject of Post") }}
  </div>
<br>
<div class="form-group">
  {{ render_field(form.email, class="form-control", placeholder="email@mail.com") }}
</div>
<br>
   <div class="form-group">
    {{ render_field(form.question, class="form-control", placeholder="Questions to Ask") }}
  </div>
<br>
  <div class="form-group">
    {{ render_field(form.overall, class="form-check", style="list-style-type:none") }}
  </div>
<br>
  <div class="form-group">
    {{ render_field(form.feedback, class="form-control", placeholder="E.g. Suggestions") }}
  </div>
<br>

  <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
{% endblock %}
