{% extends "base.html" %}
{% block title %}OutBox - Lastest News{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/style.css">
<br>
<br>
<h1 class="display-4">View News</h1>
<p style="text-align: center;">Get the Latest Update of OutBox</p>
<br>
<br>
<br>

  {% for news in news_list %}
    <div id="news">
       <h5><img src="static/photos/zes3logo.png" alt="" style="width: 40px; height: 36px;"> OutBox <span>{{ news.get_date_posted() }}</span></h5>
        <h2>{{ news.get_title() }}</h2>
        <img src="{{ url_for('static', filename='uploads/' + news.get_file()) }}" alt="News" style="max-width: 850px; max-height: 500px;">
        <br>
        <h6>{{ news.get_description() }}</h6>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    {% endfor %}


</div>
{% endblock %}
