{% extends "base.html" %}
{% block title %}OutBox - Retrieve Forum{% endblock %}
{% block content %}
<style>
  #exp p {
    display: inline;
    padding-right: 20px;
    font-weight: bold;
  }
</style>
<a href="{{ url_for('homepage') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<br>
<br>
<h1 class="display-4">View Forum</h1>
<div>
{% if count == 0 %}
<p>There are no Questions/Feedbacks.</p>
{% elif count == 1 %}
<p>There is 1 question/feedback.</p>
{% else %}
<p>There are {{ count }} questions/feedback.</p>
{% endif %}
</div>

<div id="exp">
  <p>😁: {{ excellent_percentage }}%</p>
  <p>😐: {{ neutral_percentage }}%</p>
  <p>😡: {{ bad_percentage }}%</p>
</div>

<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Question ID</th>
    <th>Date Posted</th>
    <th>Title</th>
    <th>Question</th>
    <th>Overall Experience</th>
    <th>Feedback</th>


    </tr>
  </thead>
<tbody>
  {% for question in questions_list %}
  <tr>
    <td>{{ question.get_question_id() }}</td>
    <td>{{ question.get_date_posted() }}</td>
    <td>{{ question.get_title() }}</td>
    <td>{{ question.get_question() }}</td>


    {% if question.get_overall() == "B" %}
    <td>😡</td>
    {% elif question.get_overall() == "N" %}
    <td>😐</td>
    {% elif question.get_overall() == "E" %}
    <td>😁</td>
    {% endif %}

    <td>{{  question.get_feedback() }}</td>




</tr>

<!--Reply from admin-->
 {% if question.get_reply() != "" %}
    <tr>
      <td colspan="9"><img src="static/photos/zes3logo.png" alt="" style="width: 40px; height: 36px;"><strong> OutBox:</strong><br> {{ question.get_reply() }}</td>
    </tr>
 {% endif %}

{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
