{% extends "adminbase.html" %}
{% block title %}ZES&#179; view feedback{% endblock %}
{% block content %}
<a href="{{ url_for('admin') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>

<h1>Feedback Report</h1>
<p>Browse through the tabs to view the feedback/reviews for Outbox.</p>

{{ chart_html | safe }}

<!-- Positive Feedback Tab -->
{% if positive_feedback %}
    <h2>Positive Feedback Comments:</h2>
    <ul>
        {% for feedback in positive_feedback %}
            <li>{{ feedback }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No positive feedback comments available.</p>
{% endif %}

<!-- Negative Feedback Tab -->
{% if negative_feedback %}
    <h2>Negative Feedback Comments:</h2>
    <ul>
        {% for feedback in negative_feedback %}
            <li>{{ feedback }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No negative feedback comments available.</p>
{% endif %}


{% endblock %}
