{% extends "base.html" %}
{% block title %}OutBox Admin - Forgot Password{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<a href="{{ url_for('login') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<br>
<br>
<form method="POST" action="" class="memberform">
  <div class="form-group">
    <label for="otp">Enter OTP</label>
    <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" required>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Verify OTP</button>
</form>
{% endblock %}