{% extends "adminbase.html" %}
{% block title %}ZES&#179; view order history{% endblock %}
{% block content %}
<h1 class="display-4">View Order History</h1>
<div>
    {% if count == 0 %}
    <p>There are no orders.</p>
    {% elif count == 1 %}
    <p>There is 1 order.</p>
    {% else %}
    <p>There are {{ count }} orders.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Products</th>
                <th>Date</th>
                <th>Payment Amount</th>
                <th>Name</th>
                <th>Email</th>
                <th>Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for order in order_list %}
        <tr>
            <td>{{ order.get_order_id() }}</td>
            <td>
                {% for product in order.get_products() %}
                    <p>{{ product }}</p>
                {% endfor %}
            </td>
            <td>{{ order.get_date() }}</td>
            <td>{{ order.get_payment_amt() }}</td>
            <td>{{ order.get_name() }}</td>
            <td>{{ order.get_email() }}</td>
            <td>{{ order.get_number() }}</td>
            <td>
                <form action="{{url_for('delete_order', id=order.get_order_id())}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{order.get_order_id()}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{order.get_order_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete order #{{order.get_order_id()}}?
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}