
{% extends "base.html" %}
{% block title %}Outbox{% endblock %}
{% block content %}
    <h1 class="display-4">Outbox</h1>
    <div class="row">
        {% for product in outbox_products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p><img src="{{ url_for('static', filename='uploads/' + product.get_image()) }}" alt="Product Image" style="width: 400px; height: 300px;"></p>
                        <h3 class="card-title">{{ product.get_name() }}</h3>
                        <p class="card-text">Price: ${{ product.get_price() }}</p>
                        <p class="card-text">Category: {{ product.get_category() }}</p>
                        <p class="card-text">Remarks: {{ product.get_remarks() }}</p>
                        <p class="card-text">Drinks: {{ product.get_drinks() }}</p>


                        <a href="{{ url_for('add_to_outbox', product_id=product.get_product_id()) }}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('view_cart') }}" class="btn btn-success mt-3">View Cart</a>
{% endblock %}
