{% extends "adminbase.html" %}
{% block title %}OutBox - View Forum{% endblock %}
{% block content %}
<a href="{{ url_for('admin') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<br>
<br>
<h1 class="display-4">View Forum</h1>
<div>
{% if count == 0 %}
<p>There are no Questions/Feedbacks.</p>
{% elif count == 1 %}
<p>There is 1 question/feedback.</p>
{% else %}
<p>There are {{ count }} questions/feedback.</p>
{% endif %}
</div>
<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Question ID</th>
    <th>Email</th>
    <th>Date Posted</th>
    <th>Title</th>
    <th>Question</th>
    <th>Overall Experience</th>
    <th>Feedback</th>

    <th></th>
    <th></th>
    </tr>
  </thead>
<tbody>
  {% for question in questions_list %}
  <tr>
    <td>{{ question.get_question_id() }}</td>
    <td>{{ question.get_email() }}</td>
    <td>{{ question.get_date_posted() }}</td>
    <td>{{ question.get_title() }}</td>
    <td>{{ question.get_question() }}</td>


    {% if question.get_overall() == "B" %}
    <td>😡</td>
    {% elif question.get_overall() == "N" %}
    <td>😐</td>
    {% elif question.get_overall() == "E" %}
    <td>😁</td>
    {% endif %}

    <td>{{  question.get_feedback() }}</td>


    <td><a href="/updateQuestion/{{question.get_question_id()}}" class="btn btn-warning">Update</a>
    </td>
      <td>
   <form action="{{url_for('delete_questions', id=question.get_question_id())}}" method="POST">
<!--    <input type="submit" value="Delete" class="btn btn-danger"-->
<!--    onclick="return confirm('Are you sure you want to delete {{question.first_name}} {{question.last_name}}?');">-->


<!--From w3 school-->
     <!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{question.get_question_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{question.get_question_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete Question ID:{{question.get_question_id()}} ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
<!--From w3 school-->


    </form>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
