{% extends "base.html" %}
{% block title %}OutBox- Update Forum{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<a href="{{ url_for('retrieve_questions') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<br>
<br>

  <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question ID</th>
                <th>Email</th>
                <th>Date Posted</th>
                <th>Title</th>
                <th>Question</th>
                <th>Overall Experience</th>
                <th>Feedback</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Question ID: {{ id }}</td>
                <td>{{ email }}</td>
                <td>{{ date }}</td>
                <td>{{ title }}</td>
                <td>{{ question }}</td>
                {% if overall == "B" %}
                <td>😡</td>
                {% elif overall == "N" %}
                <td>😐</td>
                {% elif overall == "E" %}
                <td>😁</td>
                {% endif %}
                <td>{{ feedback }}</td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 3em;">
    <form method="POST" action="">
         <div class="form-group">
                 {{ rdate }}
             <br>
                 {{ render_field(form.reply, class="form-control") }}
        </div>
        <div style="margin-top: 3em;">
        <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </form>
</div>
{% endblock %}
