{% extends "adminbase.html" %}
{% block title %}ZES&#179; view members{% endblock %}
{% block content %}
<a href="{{ url_for('admin') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<h1 class="display-4">View all members</h1>
<div>
    {% if count == 0 %}
    <p>There are no Admins.</p>
    {% elif count == 1 %}
    <p>There is 1 Admin.</p>
    {% else %}
    <p>There are {{ count }} Admins.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Admin ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for member in admin_list %}
        <tr>
            <td>{{ member.get_member_id() }}</td>
            <td>{{ member.get_first_name() }}</td>
            <td>{{ member.get_last_name() }}</td>
            <td>{{ member.get_email() }}</td>
            <td>{{ member.get_password() }}</td>
            <td><a href="/updateadmin/{{member.get_member_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_admin', id=member.get_member_id())}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{member.get_member_id()}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{member.get_member_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{member.get_first_name()}} {{member.get_last_name()}}?
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('excel_converter', db_name='Admin')}}" class="btn btn-primary btn-lg rounded-pill">Download as Excel file</a>
</div>
{% endblock %}