{% extends "base.html" %}

{% block title %}View More{% endblock %}

{% block content %}
<a href="{{ url_for('outbox') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<div style="text-align: center; margin-top: 20px;">
    {% if selected_product %}
    <div style="display: flex; justify-content: center;">
        <table style="border-collapse: collapse; width: 80%;">
            <tr>
                <td style="text-align: center; padding: 20px;">
                    <img src="{{ url_for('static', filename='uploads/' + selected_product.get_image()) }}"
                         alt="Product Image" style="width: 500px; max-height: 600px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <p style="padding: 20px; text-align: center; font-size: 18px; color: #333;">Drinks: {{ selected_product.get_drinks() }}</p>
                </td>
                <td style="vertical-align: top; text-align: left; padding: 20px;">
                    <div class="product-details">
                        <p style="font-size: 20px; font-weight: bold; margin-bottom: 10px;">{{ selected_product.get_name() }}</p>
                        <p>Product ID: {{ selected_product.get_product_id() }}</p>
                        <p>Price: ${{ selected_product.get_price() }}</p>
                        <p>Category: {{ selected_product.get_category() }}</p>
                        <div style="border: 1px solid #ddd; padding: 20px; border-radius: 8px; margin-top: 20px;">
                            <p style="font-size: 16px; color: #555;">Remarks: {{ selected_product.get_remarks() }}</p>
                        </div>
                        <a href="{{ url_for('add_to_outbox', product_id=selected_product.get_product_id()) }}" class="btn btn-primary" style="display: block; margin-top: 20px; padding: 10px 20px; font-size: 18px; text-decoration: none; background-color: #007bff; color: #fff; border-radius: 5px; transition: background-color 0.3s;">Add to Cart</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% else %}
    <p style="font-size: 18px; color: #555;">Product not found</p>
    {% endif %}
</div>
{% endblock %}