{% extends "adminbase.html" %}
{% block title %}ZES&#179; view vouchers{% endblock %}
{% block content %}
<a href="{{ url_for('admin') }}" class="btn btn-secondary mb-2" style="margin-top: 10px;"><i style="margin-right:5px;" class="bi bi-arrow-left"></i>Back</a>
<h1 class="display-4">View all vouchers</h1>
<div>
    {% if count == 0 %}
    <p>There are no vouchers created.</p>
    {% elif count == 1 %}
    <p>There is 1 voucher created.</p>
    {% else %}
    <p>There are {{ count }} vouchers.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Voucher ID</th>
                <th>Name</th>
                <th>Discount (%)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for voucher in voucher_list %}
        <tr>
            <td>{{ voucher.get_voucher_id() }}</td>
            <td>{{ voucher.get_name() }}</td>
            <td>{{ voucher.get_discount() }}</td>
            <td>
                <form action="{{url_for('delete_voucher', id=voucher.get_voucher_id() )}}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{voucher.get_voucher_id()}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{voucher.get_voucher_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete coupon #{{voucher.get_voucher_id()}}?
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}